      html{
         font-family: "Nunito Sans", sans-serif; 
       }

        a{
        text-decoration: none ;
         color: #d500f9;
         }  
       .title{
         /* Permite cambiar texto en mayuiscula o en miuscula y capitalizar */
         text-transform: uppercase;
       }

  

   .Container{
      background: #654ea3;  
      background: -webkit-linear-gradient(to bottom, #eaafc8, #654ea3);  
      background: linear-gradient(to bottom, #eaafc8, #654ea3); 
      height: 100vh;
      width: 100vw;
      /* componentes dentro del contenedor usan possion mediante flexbox  */
      display: flex; 
      align-items: center;
      justify-content: center;


   }

   .Content{
      /* determina el limite maximo del viewport */
      max-width: 960px;
      max-height: 500px;
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 1.8em;
      /* display: flex;  */
       /* overflow: scroll;  */
      
   }

   .paragraph{
      /* separacion entre lineas */
     line-height: 1.8em;
     /* grosor de linea */
     font-weight: 300;
   }

   /* td{
      border:solid 1px;
      
    }  */

   .Table{
      width: 100%;
      /* se define 0 para que no se creen espacio */
      border-spacing: 0 ;

   }

   .Table td , .Table th{
      padding: 1em; 
     text-align: left;

   }
   /* focus de las filas impares even y para pares odd */
   .Table tr:nth-child(even){
      background-color: rgb(214, 247, 223);

   }

   
    h1{
      text-align: center; 
    }

    .fa-star{
      color: rgb(244, 244, 10);
    }

    a:hover{
      opacity: 0.2;
    }

    /* a:focus{
      color: aqua;
    } */

    @media(min-height:550px){
      .Content{
         height: 500px;
       
      }
 }
   @media(max-height: 650px){
        .Content{
        padding: 1em;
      }
      td{
         display: block;
         width: 100%;
      }
     td:nth-of-type(1){
        font-size: 1.5em;
        font-weight: bold;
        color: #642b73;
      } 
   } 
   
   @media(max-height: 900px){
      th{
     display: table-cell;
      }
      td{
         display: table-cell;
         width: auto; 
      }
      td:nth-of-type(1){
         font-size: 1em;
      }
      .Content{
         padding: 1.8em;
      }
        
       } 

   
  

  

